src/JobQueue.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Apexnet.JobQueue.Configuration" elementFormDefault="qualified" targetNamespace="urn:Apexnet.JobQueue.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="HangfireStorage" type="tns:Apexnet.JobQueue.Configuration.HangfireStorageCT" />
	<xs:complexType name="Apexnet.JobQueue.Configuration.RedisStorageCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="redisStorageOptions" type="tns:Apexnet.JobQueue.Configuration.RedisStorageOptionsCT">
				<xs:annotation>
					<xs:documentation>The RedisStorageOptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Apexnet.JobQueue.Configuration.HangfireStorageCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="redisStorage" type="tns:Apexnet.JobQueue.Configuration.RedisStorageCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Apexnet.JobQueue.Configuration.RedisStorageOptionsCT">
		<xs:attribute name="db" use="optional">
			<xs:annotation>
				<xs:documentation>The Db.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="invisibilityTimeout" use="optional">
			<xs:annotation>
				<xs:documentation>The InvisibilityTimeout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="prefix" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Prefix.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
