src/Messaging.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Apexnet.Messaging.Configuration" elementFormDefault="qualified" targetNamespace="urn:Apexnet.Messaging.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="apexnetPushServiceReference" type="tns:Apexnet.Messaging.Configuration.ApexnetPushServiceReferenceCT" />
	<xs:complexType name="Apexnet.Messaging.Configuration.ApexnetPushServiceReferenceCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
